@import "../fragment/yo-header";
@font-face {
  font-family: "yofont";
  src: url("/iconfont/iconfont.woff") format("woff"),
   url("/iconfont/iconfont.ttf") format("truetype"); 
}
.ul_list{
    width:100%;
    height:100%;
    background:#ffffff;
    @include flex-direction(row);
    @include flexbox();
    @include border(1px 0 0 0,#ccc);
    li{
        @include flex-direction(column);
        @include flexbox();
        @include flex();
        text-align: center;
        font-size:0.14rem;
        line-height:0.22rem;
        height:0.2rem;
        color:#dedede;
        i{
            display:block;
            padding-top:0.04rem;
            font-size:0.2rem;
            &.active{
              color:#edcf75;  
            }
        }
        a{
            &.active{
              color:#edcf75;  
            }
        }
        
        .make_img{
            width: 0.56rem;
            height: 0.56rem;
            position: relative;
            position: absolute;
            top: -0.24rem;
            z-index: 9999;
            line-height: 0.6rem;
            left: 0.1rem;
            background: #fff;
            font-size: 0.5rem;
            text-align: center;
            border-radius: 53%;
            border-top: 1px solid #ccc;
            color: #e3b82e;
        }
    }
    .yuyue_img{
        position:relative;
        padding-top:0.28rem;
    }
}